In [1]:
import pyodbc

# Define connection string parameters
server = 'sql_server,1433'  # Change to your Docker host IP if needed, 1433 is the default SQL Server port
username = 'sa'
password = 'Aa123456'  # your actual password
driver = '{ODBC Driver 18 for SQL Server}'

# Establish the connection (without specifying a database)
connection_string = f"DRIVER={driver};SERVER={server};UID={username};PWD={password};TrustServerCertificate=yes"

conn = pyodbc.connect(connection_string)

# Fetch database names
cursor = conn.cursor()
cursor.execute("SELECT name FROM sys.databases")
rows = cursor.fetchall()

# Print database names
for row in rows:
    print(row.name)

# Close the connection
conn.close()

master
tempdb
model
msdb

In [1]:
from SQL import SQL
sql = SQL(server = 'sql_server,1433',
            database = "master",
            username = "sa",
            password = "Aa123456")

In [4]:
data = sql.get_data(datatabel = "students",
                    StartDate = "2022-07-20",
                    ReturnFormat = "DataFrame")

In [5]:
data

  id name age      entry_timestamp
0  2   ??  25  2023-09-11 06:49:12